%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

.app-container {
  min-height: 100vh;
  background-color: rgb(133, 133, 184);

  nav {
    height: 70px;
    background-color: rgb(76, 76, 133);
    @include flex(space-between, center, row, 0);
    padding: 25px;
    list-style: none;

    p {
      font-size: 34px;
      color: gray;
    }

    .nav-left {
      @include flex(center, center, row, 50px);
    }

    .nav-li-flex {
      @extend %flex;
      gap: 30px;
      cursor: pointer;
      color: white;
      font-size: 20px;
    }

    .nav-active {
      background-color: white;
      color: black;
      border-radius: 5px;
      padding: 5px 10px;
    }

    .li {
      color: red;
    }
  }

  .accounts-container {
    @extend %flex;
    margin-top: 40px;
  }
  .create-account-form {
    @include flex(space-between, flex-start, row, 10px);
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;

    input {
      height: 30px;
    }

    .photo-input {
      background-color: white;
      height: 22px;
      border: 1px solid black;
      margin-bottom: 20px;
    }

    label {
      color: white;
      font-size: 22px;
    }

    .account-form-left {
      @include flex(flex-start, center, column, 10px);
      .name-surname {
        @include flex(center, center, column, 10px);
      }
    }
    .photo-container {
      @include flex(center, center, column, 10px);

      img {
        height: 120px;
        border-radius: 5px;
      }
    }
  }
}
